<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Layout</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        header {
            display: none;
        }
    </style>
</head>
<body>
    <div class="content">
        {{{body}}}
    </div>
     <footer>
      <p>All rights reserved<p>
    </footer>
</body>
</html>
