<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Contact us at 111:222:333</h1>
    <h1>Mon-Sat</h1>
  </body>
</html>